.auto {
    width: 200px;
    height: 200px;
    background-color: blue;
    overflow: auto;
}

.hidden {
    width: 200px;
    height: 200px;
    background-color: blue;
    overflow: hidden;
}

.scroll {
    width: 200px;
    height: 200px;
    background-color: blue;
    overflow: scroll;
}