.satu {
    background-color: cadetblue;
    width: 200px;
    height: 200px;
    box-shadow: 10px -10px 10px rgba(0, 0, 255, 0.397);
}

.dua {
    background-color: red;
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 7px 10px black;
}

.tiga {
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 30px 10px -20px rgba(0, 0, 0, 0.795);
    transition: .3s;
}
.tiga:hover {
    box-shadow: 0px 80px 10px -40px rgba(0, 0, 0, 0.384);
    margin-top: 40px;
}

.empat {
    background-color: violet;
    width: 200px;
    height: 200px;
    box-shadow: inset 5px 5px 10px 5px black;
}

.lima {
    background-color: green;
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 5px blue, -5px -5px 5px red;
}